<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex items-center justify-between">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white white-90 dib no-underline">
      {{ with .Site.Params.site_logo }}
        <img src="{{ urls.RelURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <button id="menu-trigger" class="f2 white bg-transparent bn pointer" aria-label="Toggle Navigation">☰</button>
  </div>
  <div id="menu-content" class="dn">
    <div class="flex flex-column items-center mt3 bg-black-60 pa3 br3">
      {{ partials.Include "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="list pl0 tc w-100">
          {{ range .Site.Menus.main }}
          <li class="pv2">
            <a class="f4 fw4 hover-white white-90 no-underline" href="{{ .URL }}">
              {{ .Name }}
            </a>
            {{ if .HasChildren }}
              <ul class="list pl0 pt2">
                {{ range .Children }}
                  <li class="pv1">
                    <a class="f5 link dim white-60 no-underline" href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </li>
          {{ end }}
        </ul>
      {{ end }}
      <div class="pv3">
        {{ partials.IncludeCached "social/follow.html" . }}
      </div>
    </div>
  </div>
</nav>
